body {
  font-family: Arial, sans-serif;
  background: #B4E4D6;
  margin: 0;
  padding: 40px;
}

.container {
  max-width: 700px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 5px;
}

.subtitle {
  color: #777;
}

.task-form {
  display: flex;
  gap: 10px;
  margin: 25px 0;
}

input {
  flex: 1;
  padding: 12px;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  background: #DE7272 ;
  cursor: pointer;
}

.summary {
  padding: 15px;
  background: #FFF6A9;
  margin-bottom: 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.completed {
  text-decoration: line-through;
  color: #777;
}
